<div id="maintitle">
    <center>
        <img src="https://lms-kjsce.somaiya.edu/grievance/somaiya.png" alt="KJSCE LOGO" id="logo" />
        <h1 style="font-family:Times New Roman;">MULTI-CRITERIA DECISION MAKING TECHNIQUES [M.C.D.M]</h1>
        <br>
        <h2 style="font-family:Times New Roman;" class="headline">A Website for helping students and teachers to put those complex MCDM theories into practical use!</h2>
       </center>
</div>

<div id="navbar">

        <a href="/theory" id="navinfo">
            <p> MCDM THEORY </p>
        </a>
       
        <a href="/instructions" id="navinfo">
            <p>MCDM INSTRUCTIONS</p>
        </a>
        <a href="/" id="navinfo">
            <p>MCDM SIMULATOR</p>
        </a>
        
        <a href="/contact" id="navinfo">
            <p> ABOUT US</p>
        </a>
</div>
    
  