<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		    <link rel="stylesheet" type="text/css" href="{% static 'users/css/about.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">      
    </head>
    
    <body>
      <div class="abouts">
        <nav class="navbar navbar-expand-lg navbar-light  bg-transperant sticky-top">

          <a class="navbar-brand" href="/home/">
          <img src='{% static 'users/images/logo1.jpeg' %}' width="90" height="30" alt="">
          </a>
    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  
              <li class="nav-item">
                  <font size="+3"><a class="nav-link" style="color:black; font-size: 50%; " href="/home/">Home</a></font>
              </li>
              <li class="nav-item">
                  <font size="+3">  <a class="nav-link"style=" color:black; font-size: 50%;" href="/viewmyreports/">MyReports</a></font>
              </li>
              <li class="nav-item">
                  <font size="+3"> <a class="nav-link" style="color:black; font-size: 50%;"href="/allreports/">Upload</a></font>
              </li>
              <li class="nav-item">
                  <font size="+3"> <a class="nav-link" style="color:black; font-size: 50%;"href="/viewDoctor/" >Book A Doctor</a></font>
              </li>
              <li class="nav-item">
        {% if user.is_authenticated %}
        {% csrf_token %}
        <font size="+3"> <a class="nav-link" style="color:black; font-size: 50%;"href="/userProfile/">{{name}}</a></font>
                  {% endif %}
              </li>
              <li class="nav-item">
                  <font size="+3">  <a class="nav-link" style="color:black; font-size: 50%;"href="/logout/">Logout</a></font>
              </li>
              
            </ul>
          </div>
        </nav>


    <div class="about-section">
      <!-- <h1>About Us</h1> -->
       <h3 style="text-align:center">Our Features:</h3>
           <li style="list-style: none">Loss of medical data due to inefficient maintenance</li> 
           <li style="list-style: none" >Difficult access of data by patients and doctors</li> 
           <li style="list-style: none">Improper interpretation of report data</li> 
           <li style="list-style: none">Insecure storage of data</li>
          
    </div>
    
    <h2 style="text-align:center">Meet our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/static/users/images/Anu.jpg" alt="Anushka" style="width:100%">
          <div class="container">
            <h2>Anushka Darade</h2>
            <p class="title">Member 1</p>
            <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
            <p>anushka.darade@somaiya.edu</p>
            <!-- <p><button class="button">Contact</button></p> -->
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
        
          <img src="/static/users/images/dhairya.jpeg" alt="Dhairya" style="width:100%">
          <div class="container">
            <h2>Dhairya Umrania</h2>
            <p class="title">Member 2</p>
            <p>dhairya.u@somaiya.edu</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/static/users/images/Tirth.jpeg" style="width:100%">
          <div class="container">
            <h2>Tirth Thaker</h2>
            <p class="title">Member 3</p>
            <p>tirth.thaker@somaiya.edu</p>
           
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/static/users/images/Utsav.jpeg" style="width:100%">
          <div class="container">
            <h2>Utsav Parekh</h2>
            <p class="title">Member 4</p>
            <p>utsav.parekh@somaiya.edu</p>
          </div>
        </div>
      </div>
      

    </div>
{% comment %} 

    <footer class="footer">
      <div class="containerf">
          <div class="rowf">
              <div class="footer-col">
                  <h4>Docure</h4>
                  <ul>
                      <li><a href="/about/">About Us</a></li>
                      <li><a href="#">our services</a></li>
                      <li><a href="#">privacy policy</a></li>
                      <!-- <li><a href="#">affiliate program</a></li> -->
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Follow us</h4>
                  <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </footer> {% endcomment %}

    </body>
</html>