{% extends "base.html" %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/contactUsPage.css') }}">
<title>Contact Us</title>
{% endblock %}

{% block content %}
<div id="title">
    <center>
        <h1 style="color:white">OUR TEAM</h1>


        <p>
            <h3 style="color: white">We are a group of 4 engineering undergrads coming from diverse backgrounds and
                interests and are interested in helping people understand MCDM Techniques in a better manner! Here's
                some info about us!
        </p>
        </h3>
    </center>

</div><br>

<div id="profiles">

    <center>

        <a href="http://www.linkedin.com/in/abhinavzanvar" style="color: white" target=_blank>
          <p>
            <h1 id="name">Abhinav Zanvar</h1>
          </p>
        </a>
        <a href="http://www.linkedin.com/in/ishaaaan" style="color: white" target=_blank>
          <p>
            <h1 id="name">Jayant Yadav</h1>
          </p>
        </a>
        <a href="http://www.linkedin.com/in/nimishnimbalkar" style="color: white" target=_blank>
          <p>
            <h1 id="name">Nimish Nimbalkar</h1>
          </p>
        </a>
        <a href="http://www.linkedin.com/in/ishaaaan" style="color: white" target=_blank>
            <p>
                <h1 id="name">Ishan Shinde</h1>
            </p>
        </a>


    </center>

</div>
{% endblock %}