{% extends "base.html" %}

{% block title %}
<title>MCDM: LY Project</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
{% endblock %}
{% block content %}
    {% include 'partials/header.html'  %}
    <br>
    <div id="form">
        <div id="aform">
            <center>
                <p style="font-family:Times New Roman;" id="MCDM SIMULATOR">Please select the MCDM Technique Do You Want To Use?</p>
                <p>
                    <a href="/topsis"><button>TOPSIS: Technique for Order of Preference by Similarity to Ideal Solution</button></a>
                </p>
                <p>
                    <a href="/swara"><button>SWARA: Stepwise Weight Assessment Ratio Analysis</button></a>
                </p>
        </div>
        <br />

        <div id="bform">
            <p style="font-family:Times New Roman;">Liked Our Simulation? We would love to hear back from you: Praises, Critiscism, Suggestions are all welcome!</p>
            <form action="">
                <p style="font-family:Times New Roman;">1. YOUR NAME: </p><input type="text" placeholder=" Name"><br>
                <p style="font-family:Times New Roman;">2. COLLEGE/INSTITUTION: </p><input type="text" placeholder=" COLLEGE/INSTITUTION:"><br>
                <p style="font-family:Times New Roman;">3. DESIGNATION: </p>
                <select name="DESIGNATION" id="dropdown" style="font-family:Times New Roman;">
                    <option value="Student">Student</option>
                    <option value="Professor">Professor</option>
                    <option value="Researcher">Researcher</option>
                    <option value="Industry">Industry</option>
                    <option value="Other">Other</option>
                </select>
                
                <p style="font-family:Times New Roman;">4. ENTER YOUR SUGGESTIONS BELOW:</p>
                <textarea id="suggestions"> </textarea><br><br>
                <button id="submit" type="submit"> <em>Submit</em></button>
            </form>
        </div>
    </div>
{% endblock %}