{% extends "base.html" %} {% block title %}
<title>MCDM: LY Project</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}"> {% endblock %}

<body>
    {% block content %} {% include 'partials/header.html' %}


    <script type="text/javascript">
        function validate(form) {

            var names = document.getElementById('name').value;
            var namess = document.getElementById('name');
            var insts = document.getElementById('inst').value;
            var instss = document.getElementById('inst');
            var gend = document.getElementById('dropdown').value;
            var gen = document.getElementById('dropdown');


            var name3 = /^[a-zA-Z ]*$/;
            if (gen.value != "") {
                gen.style.border = "green solid 3px";

                if (name3.test(names)) {
                    namess.style.border = "green solid 3px";
                    if (name3.test(insts)) {
                        instss.style.border = "green solid 3px";
                        document.getElementById("myForm").submit();
                        return true;
                    } else {
                        instss.style.border = "red solid 3px";
                        return false;
                    }

                } else {
                    namess.style.border = "red solid 3px";
                    return false;
                }
            } else {
                gen.style.border = "red solid 3px";
                return false;
            }
        }
    </script>
    <br>
    <br>
    <div id="form">
        <div id="aform">
            <center>

                <p style="font-family:Times New Roman;" id="MCDM SIMULATOR">Please select the MCDM Technique Do You Want To Use?</p>

                <p>
                    <a href="/topsis"><button>TOPSIS: Technique for Order of Preference by Similarity to Ideal Solution</button></a>
                </p>
                <p>
                    <a href="/swara"><button>SWARA: Stepwise Weight Assessment Ratio Analysis</button></a>
                </p>
        </div>
        <br /> {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        <div id="bform">
            <p>Liked Our Simulation? We would love to hear back from you: Praises, Critiscism, Suggestions are all welcome!</p>
            <form action="{{ url_for('feedback') }}" method="post" id="myForm">

                <p style="font-family:Times New Roman; ">1. YOUR NAME: </p><input type="text " id="name" name="name" placeholder="Name"><br>
                <p style="font-family:Times New Roman; ">2. COLLEGE/INSTITUTION: </p><input type="text" id="inst" name="college" placeholder=" COLLEGE/INSTITUTION: "><br>
                <p style="font-family:Times New Roman; ">3. DESIGNATION: </p>
                <select name="DESIGNATION " id="dropdown" style="font-family:Times New Roman; ">
                    <option value="Student ">Student</option>
                    <option value="Professor ">Professor</option>
                    <option value="Researcher ">Researcher</option>
                    <option value="Industry ">Industry</option>
                    <option value="Other ">Other</option>
                </select>
                <p style="font-family:Times New Roman; ">4. ENTER YOUR SUGGESTIONS BELOW:</p>

                <textarea id="suggestions" name="suggestions"> </textarea><br><br>
                <input type="button" onclick="validate()" value="Confirm">
            </form>

        </div>
    </div>

    {% endblock %}