{% block title %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/theory.css') }}">
<title>THEORY</title>
{% endblock %} {% block content %} {% include 'partials/header.html' %}


<body>

    <br>

    <div id="TheoryBASICS">
        <h1 style="font-family:Times New Roman;">What is MCDM?</h1>
        <p style="font-family:Times New Roman;">
            In the past few decades, data has become one of the world’s most valuable commodities. But what doesn’t meet the eye is that although an effective collection of data is very important, what’s more important is what to do with the acquired data. That’s
            why the field of Data-Science is advancing rapidly. The rapid growth in technology has facilitated the rise of emerging economies due to globalization. At first glance, although globalization seems like a win-win situation for everyone involved.
            Emerging Economies get access to foreign resources, employability increases, the foreign companies, in turn, expand their reach and the government gets the required taxes to ensure further development. But all these outcomes hinge on the fact
            that the companies involved in such processes take the right path. The right path can be complex and often it takes a back seat in the absence of correct decision-making tools.
        </p>
        Be it a multinational conglomerate with a turnover of a billion dollars or a local upcoming startup. One thing has and will always remain common. Every company/organization is faced with conflicting decision-making situations every day. If these decisions
        are not taken logically/methodically they have the potential to cause havoc to the company’s existence. Now, this is not just important economically, but environmentally as well. We have seen several instances of companies recklessly using the
        resources of an underdeveloped country to maximize its profits and end up depleting its resources. This not only degrades the environment but also has an adverse impact on the health of the local population. Thus, striking a balance between progress
        and sustainability is of utmost importance for any organization. Therefore, every single decision taken by an organization not only impacts its future but the future of all the entities involved.</p>
        Hence, in industrial scenarios, the owners face conflicting situations daily, and tackling them effectively is the key to the success of any business. But what should be done if more than one alternative seems equally important? That’s exactly where the
        heart of MCDM Techniques lies! MCDM Techniques play a vital role in helping any company make optimum decisions when any conflicting situations arise! These techniques are useful in commercial situations for any company. There is a sudden demand
        for products that can help companies make optimum decisions. And with every demand, there arises an opportunity to create a quality product that fills up the voids currently present in a system. Therefore, MCDM techniques are critical for any
        firm to meet its targets and have a lasting impact in the competitive global market. MCDM stands for Multi-Criteria Decision Making and it helps its end-user to choose the best alternative when there are multiple options to choose from and all
        of them appear at first glance to be equally useful. MCDM techniques are currently being used by the top companies to gain a competitive advantage over the rest of the market. The practical applications of MCDM are possibly endless. But here are
        a few relatable examples: ▪ Material Selection during Production ▪ Selection of optimum external Software vendor/support. ▪ Short-listing job applicants ▪ Selecting new projects or investments ▪ Prioritizing patients for access to health care,
        etc.

        </p>

    </div><br>

    <div id="TheorySWARA">
        <h1 style="font-family:Times New Roman;">SWARA</h1>
        <p style="font-family:Times New Roman;">

            Stepwise Weight Assessment Ratio Analysis SWARA is a multi-criteria decision making (MCDM) method for calculating criterion and sub-criterion weights. The relative importance and initial prioritizing of alternatives for each attribute are defined by the
            decision maker's judgement in the SWARA technique, which is done by the weighting method, and then the relative weight of each attribute is determined. This method's performance in weighting criteria is comparable to that of the Best-Worst
            Method (BWM) and the linear programming methodology for multidimensional preference analysis (LINMAP) The LINMAP (Linear Programming Technique for Multidimensional Analysis of Preference) approaches use the linear programming technique for
            multidimensional analysis of preference. Keruliene came up with this strategy.
        </p><br>

        <center><img id="capture" src="{{ user_image }}" alt="User Image"></center>

    </div><br>

    <div id="TheoryTOPSIS">

        <h1 style="font-family:Times New Roman;">TOPSIS</h1>
        <p style="font-family:Times New Roman;">Yoon and Hwang were the first to introduce TOPSIS, a multiple criteria decision-making process. TOPSIS determines the relative proximity of an alternative to the optimal solution by using the Euclidean distance to calculate the shortest distance
            from the positive ideal solution and the farthest distance from the negative ideal solution from a geometrical location. The sum of all the best values that may be attained for each attribute is defined as a positive ideal solution, whereas
            the sum of all the worst values achievable for each attribute is defined as a negative ideal solution. By taking the relative proximity to the positive ideal solution, TOPSIS takes into account both the distance to the positive ideal solution
            and the distance to the negative ideal solution. Alternative priority orders can be achieved based on a comparison of relative distances. This strategy is commonly used to finish the decision-making process. This is because the notion is straightforward,
            straightforward to comprehend, efficient to compute, and capable of evaluating the relative performance of the alternative's option.</p><br>

        <center>
            <img src="{{ user_image2 }}" alt="User Image">

        </center>

    </div>

</body>



{% endblock %}