#maintitle {
    padding: 5px 5px 5px 0;
    background: rgba(0, 0, 0, .6);
    color: white;
}

.headline{
    text-align: center;
    padding-bottom: 5px;
    margin-top: -1%;
   
    color: white;
    font-size: 1rem;
}

#logo {

    height: 105.2px;
    width: 304.8px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    
    color: white;
    background: black;
    border: .5px solid white;
    width: 99.9%;
}

#navinfo {
    color: white;
    text-decoration: none;
    margin-top:10px ;
    font-size: 20px;
    font-family: "Times New Roman"
}

#navinfo:hover {
    transform: scale(1.1);
    color: #3df5ff;

}



#SWARA {

    margin: auto;
    color: white;
    border: 2.5px solid white;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);

}

#TOPSIS {


    margin: auto;
    color: white;
    border: 2.5px solid white;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);

}


body {
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 1), rgba(136, 136, 206, 0.7)), url(https://kjsce.somaiya.edu/upload_file/images20/JVB_0002.JPG);
    background-size: cover;
    background-position: center;

}