#maintitle{
  
    padding: 5px;
    background: rgba(0,0,0,.6);
    color: white;
    
    
  }
  
  
  
  body{
    background-image: linear-gradient( 115deg, rgba(0, 0, 0, 1), rgba(136, 136, 206, 0.7) ), url(https://kjsce.somaiya.edu/upload_file/images20/JVB_0002.JPG);
      background-size: cover;
      background-position: center;
    
  }
  
  #logo{
    
    height:105.2px;
    width: 304.8px ;
  }
  
  #title{
    color: white;
    background: rgba(0,0,0,.6);
    padding: 1px;
    
    
  }
  
  #kjval{
    color: white;
    background: rgba(0,0,0,.6);
    padding: 1px;
    
    
  }
  
  #qjval{
    color: white;
    background: rgba(0,0,0,.6);
    padding: 1px;
    
    
  }
  
  #RelWt{
    color: white;
    background: rgba(0,0,0,.6);
    padding: 1px;
    
    
  }